@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

hr{
    width:3rem;
    position: fixed;
   
}
.fluid-container{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color:#fff;    
}
.fa-brands:hover{
    color:red;
}
h5:hover{ 
    color:rgb(153, 15, 15);  
}