/* Footer CSS */
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
  }

.karwaan{
    font-size: 19px;
    color: black;
}
.a{
    color: black;
}
.b{
    color: black;
}
.c{
    color: black ;
}
.d{
    color: black;
}
.social-icons{
    font-size: small;
}

.social-icons a{
    text-decoration: none;
}

.social-icons a:hover{
    opacity: 0.5;
}
