.flip-items,
.flip-item {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.flip-item {
    position: absolute;
    opacity: 0.99;
}
.flip-past,
.flip-future,
.flip-next,
.flip-prev {
    cursor: pointer;
}
.flipster-carousel .flip-past {
    -webkit-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
    -moz-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
    -o-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
    -ms-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
    transform: translateX(-128%) translateZ(0) rotateY(0deg) scale(0.65);
}
.flipster-carousel.no-rotate .flip-past {
    -webkit-transform: translateX(-80%) translateZ(0)  scale(0.65);
    -moz-transform: translateX(-80%) translateZ(0)  scale(0.65);
    -o-transform: translateX(-80%) translateZ(0)  scale(0.65);
    -ms-transform: translateX(-80%) translateZ(0) scale(0.65);
    transform: translateX(-80%) translateZ(0) scale(0.65);
}
.no-csstransforms3d .flipster-carousel .flip-past {
    -webkit-transform: translateX(-56%) scale(0.5);
    -moz-transform: translateX(-56%) scale(0.5);
    -o-transform: translateX(-56%) scale(0.5);
    -ms-transform: translateX(-56%) scale(0.5);
    transform: translateX(-56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-past {
    left: -20%;
    top: 40%;
    width: 50%;
    height: 50%;
}
.flipster-carousel .flip-future {
    -webkit-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
    -moz-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
    -o-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
    -ms-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
    transform: translateX(125%) translateZ(0) rotateY(
        0deg
        ) scale(0.65);
}

.flipster-carousel.no-rotate .flip-future {
    -webkit-transform: translateX(80%) translateZ(0) scale(0.65);
    -moz-transform: translateX(80%) translateZ(0) scale(0.65);
    -o-transform: translateX(80%) translateZ(0) scale(0.65);
    -ms-transform: translateX(80%) translateZ(0) scale(0.65);
    transform: translateX(80%) translateZ(0) scale(0.65);
}

.no-csstransforms3d .flipster-carousel .flip-future {
    -webkit-transform: translateX(56%) scale(0.5);
    -moz-transform: translateX(56%) scale(0.5);
    -o-transform: translateX(56%) scale(0.5);
    -ms-transform: translateX(56%) scale(0.5);
    transform: translateX(56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-future {
    left: 88%;
    top: 40%;
    width: 50%;
    height: 50%;
}
.flipster-carousel .flip-prev {
    -webkit-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
    -moz-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
    -o-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
    -ms-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
    transform:translateX(-60%) translateZ(0) rotateY(0deg) scale(0.8);
}
.flipster-carousel.no-rotate .flip-prev {
    -webkit-transform: translateX(-60%) translateZ(0) scale(0.8);
    -moz-transform: translateX(-60%) translateZ(0) scale(0.8);
    -o-transform: translateX(-60%) translateZ(0) scale(0.8);
    -ms-transform: translateX(-60%) translateZ(0) scale(0.8);
    transform: translateX(-65%) translateZ(0) scale(0.8);
}
.no-csstransforms3d .flipster-carousel .flip-prev {
    -webkit-transform: translateX(-24%) scale(0.75);
    -moz-transform: translateX(-24%) scale(0.75);
    -o-transform: translateX(-24%) scale(0.75);
    -ms-transform: translateX(-24%) scale(0.75);
    transform: translateX(-24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-prev {
    left: -9%;
    top: 20%;
    width: 75%;
    height: 75%;
}
.flipster-carousel .flip-next {
    -webkit-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
    -moz-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
    -o-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
    -ms-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
    transform: translateX(60%) translateZ(0) rotateY(
        0deg
        ) scale(0.8);
}
.flipster-carousel.no-rotate .flip-next {
    -webkit-transform: translateX(60%) translateZ(0)  scale(0.8);
    -moz-transform: translateX(60%) translateZ(0) scale(0.8);
    -o-transform: translateX(60%) translateZ(0) scale(0.8);
    -ms-transform: translateX(60%) translateZ(0) scale(0.8);
    transform: translateX(60%) translateZ(0) scale(0.8);
}

.no-csstransforms3d .flipster-carousel .flip-next {
    -webkit-transform: translateX(24%) scale(0.75);
    -moz-transform: translateX(24%) scale(0.75);
    -o-transform: translateX(24%) scale(0.75);
    -ms-transform: translateX(24%) scale(0.75);
    transform: translateX(24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-next {
    left: 39%;
    top: 20%;
    width: 75%;
    height: 75%;
}
.flipster-carousel .flip-current {
    z-index: 999;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition-delay: 58.333333333333336ms;
    -moz-transition-delay: 58.333333333333336ms;
    -o-transition-delay: 58.333333333333336ms;
    transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-hidden {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: rotateY(0deg) translateX(0) scale(0.5);
    -moz-transform: rotateY(0deg) translateX(0) scale(0.5);
    -o-transform: rotateY(0deg) translateX(0) scale(0.5);
    -ms-transform: rotateY(0deg) translateX(0) scale(0.5);
    transform: rotateY(0deg) translateX(0) scale(0.5);
    -webkit-transition-delay: 116.66666666666667ms;
    -moz-transition-delay: 116.66666666666667ms;
    -o-transition-delay: 116.66666666666667ms;
    transition-delay: 116.66666666666667ms;
}
.no-transition {
    -webkit-transition-duration: 0ms !important;
    -moz-transition-duration: 0ms !important;
    -o-transition-duration: 0ms !important;
    transition-duration: 0ms !important;
}
/* @import url("https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}
a {
    color: #505050;
    text-decoration: none;
}
#grid-container {
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
#grid-container .ulclass {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 340px;
    width: auto;
    white-space: nowrap
}
button {
    cursor: pointer;
    outline: 0;
}
button {
    overflow: visible;
    background: 0;
    border: 0;
}
img.dash_arrow {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.icon_on_right img {
    transform: translateY(-2px);
    margin-left: 3px;
}
.icon_on_left img {
    transform: translateY(-2px);
    margin-left: 3px;
}
.fancybox{
    width: 600px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    box-sizing: border-box;
}
.gallery_product  a:hover {
    text-decoration: none;
}
.img-info{
    display: none !important;
}
.descriptiondisplay{
    display: none !important;
}
.displayblock{
    display: block;
}
.videodescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 20px !important;
    /* color: gray !important; */
    white-space: initial;
}
@media screen and (max-width: 1024px) {
    .centerdiv{
        top:5vh;
        width: 90%;
        position: relative;
    }
    .fancybox{
        width: auto;
        margin: 0;
     }
}
@media screen and (max-width: 768px) {
    .mobilevideo {
        width: 100% !important;
        height: 430px;
    }
}
@media screen and (max-width: 480px) {
    .mobilevideo{
        width: 100% !important;
        height:200px;
    }
}
@media  (max-width: 414px) {
    .mobilevideo{
        width: 100% !important;
        height: 230px;
    }
}
@media  (max-width: 375px) {
    .mobilevideo {
        width: 100% !important;
        height: 200px;
    }
}
@media  (max-width: 320px) {
    .mobilevideo {
        width: 100% !important;
        height: 180px;
    }
}
@media (min-width: 992px){
    .mobile-show{
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .mobile-show{
        display: block;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    #layer2-menu{
        overflow: hidden;
    }
}