#grid-container .ulclass {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 340px;
    width: auto;
    white-space: nowrap
}
img.dash_arrow {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
@media  (min-width:1800px) and (max-width:2053px) {
    #grid-container  {
        transform: scale(1);
    }
    #grid-container .ulclass {
        height: 240px;
        width: auto;
    }
    .img-responsive{
        height: 230px;
    }
    .gallery_product .img-info {
        padding:105px 75px;
    }
}
@media  (min-width:1700px) and (max-width:1759px) {
    #grid-container  {
        transform: scale(1);
    }
    #grid-container .ulclass {
        height: 250px;
        width: auto;
    }
    .img-responsive{
        height: 200px;
    }
    .gallery_product .img-info {
        text-align: center;
        padding-top: 18%;
    }
}
@media  (min-width:1600px) and (max-width:1659px) {
    #grid-container  {
        transform: scale(1);
    }
    #grid-container .ulclass {
        height: 300px;
        width: auto;
    }
    .img-responsive{
        height: 180px;
    }
    .gallery_product .img-info {
        padding:85px 75px;
    }
}
@media  (min-width:1300px) and (max-width:1559px) {
    #grid-container  {
        transform: scale(1);
    }
    #grid-container .ulclass {
        height: 300px;
        width: auto;
    }
    .img-responsive{
        height: 150px;
    }
}
@media (min-width:2052px) and (max-width:2732px)
{
    #grid-container  {

        transform: scale(1);
    }
    #grid-container .ulclass {

        height: 350px;
        width: auto;
    }
    .img-responsive{
        height: 340px;
    }
    .gallery_product .img-info {
        padding:165px 75px;
    }
}
@media (min-width:2733px) and (max-width:4102px)

{
    #grid-container  {

        transform: scale(1);
    }
    #grid-container .ulclass {

        height: 550px;
        width: auto;
    }
    .img-responsive{
        height: 540px;
    }
    .gallery_product .img-info {
        text-align: center;
        padding-top: 25%;
    }
}
@media (min-width:4103px) and (max-width:5464px)
{
    #grid-container  {

        transform: scale(1);
    }
    #grid-container .ulclass {

        height: 650px;
        width: auto;
    }
    .img-responsive{
        height: 740px;
    }
    .gallery_product .img-info {
        text-align: center;
        padding-top: 25%;
    }
}
.fancybox{
    width: 600px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    box-sizing: border-box;
}
.img-info{
    display: none !important;
}
.descriptiondisplay{
    display: none !important;
}
.videodescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 20px !important;
    color: gray !important;
    white-space: initial;
}
.logoimage{
    height: 40px;
    width: auto;
}
#player{
    max-width: 100% !important;
}
.player {
    width: 100% !important;
}
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.videobody{
    transition: transform 1.3s cubic-bezier(.55,.055,.675,.19);
    transform: translateX(0px);
}
.w-100per{
    width: 100% !important;
}
.mb-6px{
    margin-bottom: -6px;
}
.ml-0{
    margin-left: 0px !important;
}
.mobilevideo{
    width: 100% !important;
}