* {
    box-sizing: border-box;
}

#layer1-bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.navbar-custom.navbar-brand a {
    color: #fff;
}

.v-Separator::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #fff;
    transform: translate(-50%);
}

.v-m-heading,
.playbtn {
    text-align: center;
}

hr {
    opacity: 1;
}

.col-items-center {
    text-align: center;
}

#btn-video {
    cursor: pointer !important;
}

.video-screen {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    margin-top: -2vh;
    margin-left: -4vh;
    margin-right: -4vh;
}

#mySpecialVideo {
    position: fixed;
    /* right: 0; */
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#layer3-video {
    display: none;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: none;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* left side menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    /* transition: 0.5s; */
    /* padding-top: 60px; */
    opacity: 0.9;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    /* transition: 0.3s; */
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    /* position: absolute; */
    /* top: 0; */
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
    margin-top: -10px;
}

.sidenav .navbar-nav {
    padding-right: 4vh;
    margin-top: 10px !important;
}

.nav-item-seprator {
    font-size: 20px;
    color: rgba(255,255,255,.5);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.hide-me {
    display: none !important;
}

.show-me {
    display: block !important;
}

.opecity_zero {
    opacity: 0;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

@media only screen and (max-width: 991px) {
    #right-menu-overlay-close-btn {
        top: 23px;
        right: 23px;
        position: fixed;
    }

    #navbarNavDropdown .nav-item {
        text-align: center;
    }

    .nav-item-seprator {
        display: none !important;
    }

    #mySidenav .navbar {
        margin-top: 5rem;
    }

    #right-home-btn {
        /*display: none;*/
    }
}