@import url("https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
}
a {
    color: #505050;
    text-decoration: none;
}